<%- include("partials/header.ejs") %>

<body>
  <main>
    <header class="welcome">
      <% if (locals.name) { %>
      <h1>Welcome, <%= name %>.</h1>

      <% } else { %>
      <h1>Welcome back!</h1>

      <% } %>

    </header>
    <section class="container">
      <div class="form">
        <form action="/add" method="POST">
          <input type="text" name="content" required placeholder="Input task" autocomplete="off" autofocus />
          <select name="status" id="status" title="Add task status" required>
            <option value="todo">Status</option>
            <option value="todo">To Do (Not Started)</option>
            <option value="inprogress">In Progress (Started)</option>
            <option value="done">Done (Complete)</option>
          </select>
          <button type="submit" title="add task" class="add-button">
            <span class="material-symbols-outlined add_task"> add_task </span>
          </button>
        </form>
      </div>
    </section>
    <section class="task-display">
      <aside class="status to-do">
        <h3><span class="material-symbols-outlined"> list_alt </span>To Do</h3>
        <hr />

        <% itemsTodo.forEach((todo)=> { %>
        <div class="task-card gray">
          <div class="status-buttons">
            <a href="/pending/<%= todo.id %>"><button class="edit-button" title="mark as pending">
                <span class="material-symbols-outlined pending-btn">
                  pending
                </span>
              </button></a>
            <a href="/done/<%= todo.id %>"><button class="delete-button" title="mark as done">
                <span class="material-symbols-outlined done-btn"> done </span>
              </button></a>
          </div>
          <div class="task-space">
            <div class="content"><%= todo.content %></div>
          </div>
          <div class="btns-datetime">
            <p class="datetime">
              <%= todo.created_time %> • <%= new
              Date(todo.created_date).toLocaleDateString() %>
            </p>
            <div class="buttons">
              <a href="/edit/<%= todo.id %>"><button class="edit-button" title="Edit task">
                  <span class="material-symbols-outlined"> border_color </span>
                </button></a>
              <a href="/delete/<%= todo.id %>"><button class="delete-button" title="Delete task">
                  <span class="material-symbols-outlined"> delete </span>
                </button></a>
            </div>
          </div>
        </div>
        <% }); %>
      </aside>
      <aside class="status in-progress">
        <h3>
          <span class="material-symbols-outlined"> pending </span>In Progress
        </h3>
        <hr />

        <% itemsInprogress.forEach((todo)=> { %>
        <div class="task-card">
          <div class="status-buttons">
            <a href="/todo/<%= todo.id %>"><button class="edit-button" title="mark as todo">
                <span class="material-symbols-outlined not-started-btn">
                  list_alt
                </span>
              </button></a>
            <a href="/done/<%= todo.id %>"><button class="delete-button" title="mark as done">
                <span class="material-symbols-outlined done-btn"> done </span>
              </button></a>
          </div>
          <div class="task-space">
            <div class="content"><%= todo.content %></div>
          </div>
          <div class="btns-datetime">
            <p class="datetime">
              <%= todo.created_time %> • <%= new
              Date(todo.created_date).toLocaleDateString() %>
            </p>
            <div class="buttons">
              <a href="/edit/<%= todo.id %>"><button class="edit-button" title="Edit task">
                  <span class="material-symbols-outlined"> border_color </span>
                </button></a>
              <a href="/delete/<%= todo.id %>"><button class="delete-button" title="Delete task">
                  <span class="material-symbols-outlined"> delete </span>
                </button></a>
            </div>
          </div>
        </div>
        <% }); %>
      </aside>
      <aside class="status done">
        <h3><span class="material-symbols-outlined"> task_alt </span> Done</h3>
        <hr />

        <% itemsDone.forEach((todo)=> { %>
        <div class="task-card">
          <div class="status-buttons">
            <a href="/pending/<%= todo.id %>"><button class="edit-button" title="mark as pending">
                <span class="material-symbols-outlined pending-btn">
                  pending
                </span>
              </button></a>
            <a href="/todo/<%= todo.id %>"><button class="delete-button" title="mark as todo">
                <span class="material-symbols-outlined not-started-btn">
                  list_alt
                </span>
              </button></a>
          </div>
          <div class="task-space">
            <div class="content"><%= todo.content %></div>
          </div>
          <div class="btns-datetime">
            <p class="datetime">
              <%= todo.created_time %> • <%= new
              Date(todo.created_date).toLocaleDateString() %>
            </p>
            <div class="buttons">
              <a href="/edit/<%= todo.id %>"><button class="edit-button" title="Edit task">
                  <span class="material-symbols-outlined"> border_color </span>
                </button></a>
              <a href="/delete/<%= todo.id %>"><button class="delete-button" title="Delete task">
                  <span class="material-symbols-outlined"> delete </span>
                </button></a>
            </div>
          </div>
        </div>
        <% }); %>
      </aside>
    </section>
  </main>
</body>
<%- include("partials/footer.ejs") %>