<%- include("partials/header.ejs") %>

<div class="container" style="width: 70%">
  <h1><%= blog.title %></h1>
  <p><%= blog.content %></p>
  <p class="author">By <%= blog.author %></p>
  <div class="call-to-action">
    <a href="/edit/<%= blog.id %>" class="btn btn-dark my-1">Edit</a>
    <a href="/api/posts/delete/<%= blog.id %>" class="btn btn-danger mx-1">Delete</a>
  </div>
</div>

<%- include("partials/footer.ejs") %>